<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=@name%> </h1>
   <h2>Coach: <%=@coach%></p>
   <h2>Point Guard: <%=@pg%></p>
   <h2>Shooting Guard: <%=@sg%></p>
   <h2>Small Forward: <%=@sf%></p>
   <h2>Power Forward: <%=@pf%></p>
   <h2>Center: <%=@c%></p>
 </body>
</html>
