<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

 <h2><%= "Team Name: #{@attributes[:name]}"%></h2>
 <h3><%="Coach: #{@attributes[:coach]}" %></h3>
 <h3><%="Point Guard: #{@attributes[:pg]}" %></h3>
 <h3><%="Shooting Guard: #{@attributes[:sg]}" %></h3>
 <h3><%="Small Forward: #{@attributes[:sf]}" %></h3>
 <h3><%="Power Forward: #{@attributes[:pf]}" %></h3>
 <h3><%="Center: #{@attributes[:c]}" %></h3>
 </body>
</html>
